/* Timings */
body {
  --general-delay: 0.2s;
  --general-animation-duration: 0.65s;

  --list-item-delay: 0.3s;

  --bouncy-bezier: cubic-bezier(0.33, 1.65, 0.66, 1) forwards;
}

/* Header */
.header--body .header--body__block li {
  transform: translateX(-30%);
  animation: li--slide-in var(--general-animation-duration)
    calc(var(--h1-total-duration) + (var(--list-item-delay) * 2))
    var(--bouncy-bezier);
}

.header--body .header--body__block :is(a, details) {
  /* opacity: 0; */
  scale: 0.2 0;
  transform: translateY(30%);
  animation: a--slide-up var(--general-animation-duration)
    calc(var(--h1-total-duration) + (var(--index) * var(--list-item-delay)))
    var(--bouncy-bezier);
}

@keyframes a--slide-up {
  40% {
    scale: 1.1 0.8;
  }
  100% {
    scale: 1 1;
    opacity: 1;
    transform: translateY(0%);
  }
}
