/* Timings */
body {
  --general-delay: 0.2s;
  --general-animation-duration: 0.65s;

  --list-item-delay: 0.3s;
  --bounce-bezier: cubic-bezier(0.33, 1.65, 0.66, 1);
  --bouncy-bezier: var(--bounce-bezier) forwards;
}

/* :root[data-color-scheme="dark"] .companies img, :root[data-color-scheme="dark"] .companies svg path:not(:first-child) {
  animation: hue-shifting 120s linear infinite;
}

@keyframes hue-shifting {
  0% {
    filter: brightness(0) saturate(100%) invert(50%) sepia(100%) saturate(5000%)
      hue-rotate(80deg);
  }
  100% {
    filter: brightness(0) saturate(100%) invert(50%) sepia(100%) saturate(5000%)
      hue-rotate(800deg);
  }
} */
