<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Lectoraat Responsible IT" />

    <title>Homepage - Lectoraat Responsible IT</title>

    <script>
      document.documentElement.classList.add("js");
    </script>

    <link rel="stylesheet" href="styles/tokens--fonts.css" />
    <link rel="stylesheet" href="styles/tokens--colors.css" />

    <link rel="stylesheet" href="styles/general.css" />
    <link rel="stylesheet" href="styles/general--controls.css" />

    <link rel="stylesheet" href="styles/general--text.css" />
    <link rel="stylesheet" href="styles/landmark--header.css" />

    <link rel="stylesheet" href="styles/landmark--header__accessibility.css" />

    <link rel="stylesheet" href="styles/landmark--main.css" />

    <link rel="stylesheet" href="styles/about.css" />

    <link rel="icon" type="image/x-icon" href="images/favicon.ico" />

    <script src="scripts/general--helpers.js" defer></script>

    <script
      defer
      src="scripts/landmark--header__accessibility.js"
      defer
    ></script>
  </head>
  <body>
    <header class="header--body">
      <nav class="header--body__block">
        <a href="#main" class="visually-hidden link--skip"
          >direct naar hoofdinhoud</a
        >
        <ul>
          <li><a href="/" aria-label="to the home page">aiaiai</a></li>
          <li>
            <a href="/aiaiai-art" aria-label="to the about page"> About </a>
          </li>
          <li>
            <details class="details--accessibility">
              <summary>Access&shy;ibility</summary>

              <div class="details--accessibility__block">
                <form>
                  <fieldset>
                    <legend>Font size</legend>

                    <button
                      type="button"
                      name="setting--fontsize--min"
                      class="setting--fontsize--button setting--fontsize--button--min"
                      value="min"
                      hidden
                    >
                      <span aria-hidden="true"> A<span>A</span> </span>
                      Smaller
                    </button>

                    <select name="setting--fontsize" class="setting--fontsize">
                      <option value="-.2">-20%</option>
                      <option value="-.1">-10%</option>
                      <hr />
                      <option value="0" selected>standaard</option>
                      <hr />
                      <option value=".1">+10%</option>
                      <option value=".2">+20%</option>
                      <option value=".3">+30%</option>
                      <option value=".4">+40%</option>
                      <option value=".5">+50%</option>
                    </select>

                    <button
                      type="button"
                      name="setting--fontsize--plus"
                      class="setting--fontsize--button setting--fontsize--button--plus"
                      value="plus"
                      hidden
                    >
                      <span aria-hidden="true"> <span>A</span>A </span>
                      Larger
                    </button>
                  </fieldset>

                  <fieldset>
                    <legend>All or fewer animations</legend>

                    <label aria-label="volg het systeem qua animaties">
                      <input
                        type="radio"
                        name="setting--motion"
                        value="system"
                        checked
                      />
                      Auto
                    </label>

                    <label aria-label="minder animaties">
                      <input
                        type="radio"
                        name="setting--motion"
                        value="reduce"
                      />
                      Take it easy
                    </label>

                    <label aria-label="alle animaties">
                      <input
                        type="radio"
                        name="setting--motion"
                        value="no-preference"
                      />
                      Animations!
                    </label>
                  </fieldset>

                  <fieldset>
                    <legend>Light or dark colors</legend>

                    <label aria-label="kleurenthema van het systeem">
                      <input
                        type="radio"
                        name="setting--color-theme"
                        value="system"
                        checked
                      />
                      Auto
                    </label>

                    <label aria-label="donker kleurenthema">
                      <input
                        type="radio"
                        name="setting--color-theme"
                        value="dark"
                      />
                      Dark
                    </label>

                    <label aria-label="licht kleurenthema">
                      <input
                        type="radio"
                        name="setting--color-theme"
                        value="light"
                      />
                      Light
                    </label>
                  </fieldset>

                  <fieldset>
                    <legend>Contrast</legend>

                    <label>
                      <input type="checkbox" name="setting--contrast" />
                      More contrast
                    </label>
                  </fieldset>

                  <button type="submit">Toepassen</button>
                </form>
              </div>
            </details>
          </li>
        </ul>
      </nav>
    </header>

    <main id="main" class="grid-container">
      <div class="main-content">
        <section class="section--content">
          <div class="section--content__block section--content__block--hero">
            <h1>test</h1>
          </div>
          <div class="section--content__block section--content__block--intro">
            <!-- Inspired block will be inserted here -->
          </div>
        </section>
        <section class="section--content">
          <div
            class="section--content__block wp-content"
            data-wp-content="content"
          >
            <!-- WordPress content will be inserted here -->
          </div>
          <!-- Assignment content will be inserted here -->
          <footer>
            <div class="companies">
              <img
                src="../images/companies/hva.png"
                alt="Logo of the University of applied sciences Amsterdam"
              /><img
                src="../images/companies/theHmm.png"
                alt="Logo of the Hmm, a platform for internet cultures"
              />
            </div>
          </footer>
        </section>
      </div>
    </main>
  </body>
</html>
