<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Lectoraat Responsible IT" />

    <title>AIAIAI</title>

    <script>
      document.documentElement.classList.add("js");
    </script>

    <link rel="stylesheet" href="styles/tokens--fonts.css" />
    <link rel="stylesheet" href="styles/tokens--colors.css" />

    <link rel="stylesheet" href="styles/general.css" />
    <link rel="stylesheet" href="styles/general--controls.css" />
    <link rel="stylesheet" href="styles/general--text.css" />

    <link rel="stylesheet" href="styles/landmark--header.css" />
    <link rel="stylesheet" href="styles/landmark--header__accessibility.css" />
    <link rel="stylesheet" href="styles/home--general.css" />
    <link rel="stylesheet" href="styles/landmark--main.css" />

    <link rel="stylesheet" href="styles/testing.css" />

    <link rel="stylesheet" href="styles/animations/shared--animations.css" />
    <link rel="stylesheet" href="styles/animations/home--animations.css" />

    <!-- <link rel="stylesheet" href="styles/print.css" />
    <link rel="stylesheet" href="styles/print--assignment.css" /> -->

    <link rel="icon" type="image/x-icon" href="images/favicon.ico" />

    <script src="scripts/general--helpers.js" defer></script>

    <script src="scripts/landmark--header__accessibility.js" defer></script>

    <script type="module" src="scripts/printer.js" defer></script>
  </head>
  <body>
    <header class="header--body no-print">
      <nav class="header--body__block">
        <a href="#main" class="visually-hidden link--skip"
          >direct naar hoofdinhoud
        </a>
        <ul>
          <li><a href="/" aria-label="to the home page" style="--index: 3">aiaiai</a></li>
          <li>
            <a href="/aiaiai-art" aria-label="to the about page" style="--index: 2"> About </a>
          </li>
          <li>
            <details style="--index: 1" class="details--accessibility">
              <summary>Access&shy;ibility</summary>

              <div class="details--accessibility__block">
                <form>
                  <fieldset>
                    <legend>Font size</legend>

                    <button
                      type="button"
                      name="setting--fontsize--min"
                      class="setting--fontsize--button setting--fontsize--button--min"
                      value="min"
                      hidden
                    >
                      <span aria-hidden="true"> A<span>A</span> </span>
                      Smaller
                    </button>

                    <select name="setting--fontsize" class="setting--fontsize">
                      <option value="-.2">-20%</option>
                      <option value="-.1">-10%</option>
                      <hr />
                      <option value="0" selected>standaard</option>
                      <hr />
                      <option value=".1">+10%</option>
                      <option value=".2">+20%</option>
                      <option value=".3">+30%</option>
                      <option value=".4">+40%</option>
                      <option value=".5">+50%</option>
                    </select>

                    <button
                      type="button"
                      name="setting--fontsize--plus"
                      class="setting--fontsize--button setting--fontsize--button--plus"
                      value="plus"
                      hidden
                    >
                      <span aria-hidden="true"> <span>A</span>A </span>
                      Larger
                    </button>
                  </fieldset>

                  <fieldset>
                    <legend>All or fewer animations</legend>

                    <label aria-label="volg het systeem qua animaties">
                      <input
                        type="radio"
                        name="setting--motion"
                        value="system"
                        checked
                      />
                      Auto
                    </label>

                    <label aria-label="minder animaties">
                      <input
                        type="radio"
                        name="setting--motion"
                        value="reduce"
                      />
                      Take it easy
                    </label>

                    <label aria-label="alle animaties">
                      <input
                        type="radio"
                        name="setting--motion"
                        value="no-preference"
                      />
                      Animations!
                    </label>
                  </fieldset>

                  <fieldset>
                    <legend>Light or dark colors</legend>

                    <label aria-label="kleurenthema van het systeem">
                      <input
                        type="radio"
                        name="setting--color-theme"
                        value="system"
                        checked
                      />
                      Auto
                    </label>

                    <label aria-label="donker kleurenthema">
                      <input
                        type="radio"
                        name="setting--color-theme"
                        value="dark"
                      />
                      Dark
                    </label>

                    <label aria-label="licht kleurenthema">
                      <input
                        type="radio"
                        name="setting--color-theme"
                        value="light"
                      />
                      Light
                    </label>
                  </fieldset>

                  <fieldset>
                    <legend>Contrast</legend>

                    <label>
                      <input type="checkbox" name="setting--contrast" />
                      More contrast
                    </label>
                  </fieldset>

                  <button type="submit">Toepassen</button>
                </form>
              </div>
            </details>
          </li>
        </ul>
      </nav>
    </header>

    <main class="grid-container no-print">
      <div class="main-content">
        <section class="section--content">
          <div
            class="section--content__block section--content__block--hero main"
          >
            <img style="--index: 0" src="../images/home/ai_comma.png" alt="" />
            <img style="--index: 1" src="../images/home/ai_comma.png" alt="" />
            <img
              style="--index: 2"
              src="../images/home/ai_no_comma.png"
              alt=""
            />
            <!-- <h1>AIAIAI</h1> -->
          </div>
          <h1>Learn how to play, fail & tinker with machines</h1>
          <p>
            AI is often approached in extremes: it either sparks excitement or
            fear. Yet, AI is here to stay. It is crucial that we learn how to
            work with it in a thoughtful, playful, and collaborative way. ai,
            ai, ai is a collection of recipes prepared, or inspired, by the work
            of artists working with AI. They guide you step by step through a
            creative exploration of, and with, AI.
          </p>
          <img
            class="main-hand"
            src="../images/hands/hand_palm_paars.png"
            alt=""
          />
        </section>
        <section class="section--content">
          <div
            class="section--content__block wp-content"
            data-wp-content="content"
            data-display="grid"
            id="main"
          >
            <!-- WordPress content will be inserted here -->
          </div>
        </section>
      </div>
    </main>
    <div class="print-all">
      <!-- Print all content will be inserted here -->
    </div>
    <footer class="no-print">
      <div class="pointer">
        <img src="../images/hands/hand_lichtgroen.png" alt="a light green hand pointing to the right; towards the print all button!">
        <button data-type="printAll">
          PRINT
          <svg
            fill="currentColor"
            version="1.1"
            baseProfile="tiny"
            id="Layer_1"
            xmlns:x="&amp;ns_extend;"
            xmlns:i="&amp;ns_aiai;"
            xmlns:graph="&amp;ns_graphs;"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
            viewBox="-0.5 0.5 42 42"
            xml:space="preserve"
          >
            <path
              d="M12.5,30.504V33.5h15v-2.996H12.5z M12.5,25.504V28.5h15v-2.996H12.5z M3.5,28.5h3v8.002c-0.01,2.43,0.548,2.998,3,2.998h21
c2.452,0,3-0.452,3-2.998V28.5h3c2.55,0.04,3.029-0.527,3-2.998v-11c0-2.35-0.38-3.002-3-3.002h-3V6.502
c0.029-2.47-0.45-3.002-3-3.002h-21c-2.4,0-3.01,0.572-3,3.002V11.5h-3c-2.58,0-3,0.562-3,3.002v11C0.49,27.932,1.1,28.54,3.5,28.5z
 M30.5,36.5h-21v-13h21V36.5z M32.38,18.002c0-0.9,0.72-1.619,1.62-1.619s1.62,0.719,1.62,1.619s-0.72,1.62-1.62,1.62
S32.38,18.902,32.38,18.002z M9.5,6.5h21v5.004h-21V6.5z"
            ></path>
          </svg>
          EVERYTHING
        </button>
      </div>
    </footer>
  </body>
</html>
