<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Lectoraat Responsible IT" />

    <title>Homepage - Lectoraat Responsible IT</title>

    <script>
      document.documentElement.classList.add("js");
    </script>

    <link rel="stylesheet" href="styles/tokens--fonts.css" />
    <link rel="stylesheet" href="styles/tokens--colors.css" />

    <link rel="stylesheet" href="styles/general.css" />
    <link rel="stylesheet" href="styles/general--controls.css" />
    <link rel="stylesheet" href="styles/general--text.css" />

    <link rel="stylesheet" href="styles/landmark--header.css" />
    <link rel="stylesheet" href="styles/landmark--header__accessibility.css" />
    <link rel="stylesheet" href="styles/home--general.css" />
    <link rel="stylesheet" href="styles/landmark--main.css" />

    <link rel="stylesheet" href="styles/testing.css" />

    <link rel="stylesheet" href="styles/animations/shared--animations.css" />
    <link rel="stylesheet" href="styles/animations/home--animations.css" />

    <link rel="icon" type="image/x-icon" href="images/favicon.ico" />

    <script src="scripts/general--helpers.js" defer></script>

    <script src="scripts/landmark--header__accessibility.js" defer></script>
  </head>
  <body>
    <header class="header--body">
      <nav class="header--body__block">
        <ul>
          <li>
            <a
              style="--index: 3"
              href="/"
              class="link--logo"
              aria-label="naar de homepage"
            >
              aiaiai
            </a>
          </li>
          <li>
            <a
              style="--index: 2"
              href="/"
              class="link--logo"
              aria-label="naar de homepage"
            >
              About
            </a>
          </li>
          <li>
            <details style="--index: 1" class="details--accessibility">
              <summary>Toeganke&shy;lijkheid</summary>

              <div class="details--accessibility__block">
                <form>
                  <fieldset>
                    <legend>Lettergrootte</legend>

                    <button
                      type="button"
                      name="setting--fontsize--min"
                      class="setting--fontsize--button setting--fontsize--button--min"
                      value="min"
                      hidden
                    >
                      <span aria-hidden="true"> A<span>A</span> </span>
                      Kleiner
                    </button>

                    <select name="setting--fontsize" class="setting--fontsize">
                      <option value="-.2">-20%</option>
                      <option value="-.1">-10%</option>
                      <hr />
                      <option value="0" selected>standaard</option>
                      <hr />
                      <option value=".1">+10%</option>
                      <option value=".2">+20%</option>
                      <option value=".3">+30%</option>
                      <option value=".4">+40%</option>
                      <option value=".5">+50%</option>
                    </select>

                    <button
                      type="button"
                      name="setting--fontsize--plus"
                      class="setting--fontsize--button setting--fontsize--button--plus"
                      value="plus"
                      hidden
                    >
                      <span aria-hidden="true"> <span>A</span>A </span>
                      Groter
                    </button>
                  </fieldset>

                  <fieldset>
                    <legend>Alle of minder animaties</legend>

                    <label aria-label="volg het systeem qua animaties">
                      <input
                        type="radio"
                        name="setting--motion"
                        value="system"
                        checked
                      />
                      Auto
                    </label>

                    <label aria-label="minder animaties">
                      <input
                        type="radio"
                        name="setting--motion"
                        value="reduce"
                      />
                      Rustig&nbsp;aan
                    </label>

                    <label aria-label="alle animaties">
                      <input
                        type="radio"
                        name="setting--motion"
                        value="no-preference"
                      />
                      Animaties
                    </label>
                  </fieldset>

                  <fieldset>
                    <legend>Lichte of donkere kleuren</legend>

                    <label aria-label="kleurenthema van het systeem">
                      <input
                        type="radio"
                        name="setting--color-theme"
                        value="system"
                        checked
                      />
                      Auto
                    </label>

                    <label aria-label="donker kleurenthema">
                      <input
                        type="radio"
                        name="setting--color-theme"
                        value="dark"
                      />
                      Donker
                    </label>

                    <label aria-label="licht kleurenthema">
                      <input
                        type="radio"
                        name="setting--color-theme"
                        value="light"
                      />
                      Licht
                    </label>
                  </fieldset>

                  <fieldset>
                    <legend>Contrast</legend>

                    <label>
                      <input type="checkbox" name="setting--contrast" />
                      Meer contrast
                    </label>
                  </fieldset>

                  <button type="submit">Toepassen</button>
                </form>
              </div>
            </details>
          </li>
        </ul>

        <a href="#main" class="visually-hidden link--skip"
          >direct naar hoofdinhoud
        </a>
      </nav>
    </header>

    <main class="grid-container">
      <div class="main-content">
        <section class="section--content">
          <div
            class="section--content__block section--content__block--hero main"
          >
            <img style="--index: 0" src="../images/home/ai_comma.png" alt="" />
            <img style="--index: 1" src="../images/home/ai_comma.png" alt="" />
            <img
              style="--index: 2"
              src="../images/home/ai_no_comma.png"
              alt=""
            />
            <!-- <h1>AIAIAI</h1> -->
          </div>
          <div class="section--content__block--subhero">
            <img src="../images/home/assignments.png" alt="" />
          </div>
          <h1>Learn how to play, fail & tinker with machines</h1>
          <p>
            AI is often approached in extremes: it either sparks excitement or
            fear. Yet, AI is here to stay. It is crucial that we learn how to
            work with it in a thoughtful, playful, and collaborative way. ai,
            ai, ai is a collection of recipes prepared, or inspired, by the work
            of artists working with AI. They guide you step by step through a
            creative exploration of, and with, AI.
          </p>
        </section>
        <section class="section--content">
          <div
            class="section--content__block wp-content"
            data-wp-content="content"
            data-display="grid"
            id="main"
          >
            <!-- WordPress content will be inserted here -->
          </div>
        </section>
      </div>
    </main>
  </body>
</html>
