header.header--body {
  position: relative;
  padding: 0;
}

nav {
  padding: 2rem;
}

main {
  padding-top: 5rem;
  overflow-x: hidden;
  overflow-x: clip;
  max-width: 102.5rem;

  @media (min-width: 75rem) {
    padding-top: 3rem;
  }
}

h1 {
  font-size: clamp(1rem, 6vw, 5rem);
  font-family: Pinky;
}

p + h2 {
  margin-top: 1.25rem;
}

.section--content__block--hero:has(img) h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -75%);
}

div.point {
  margin-block: calc(3rem - 0.5vw);
  position: relative;
}

div.point img {
  object-fit: contain;
  position: absolute;
  width: calc(70vw - 5rem);
  top: 50%;
  right: 0;
  font-size: inherit;
  transform: translate(calc(20% + var(--text-length)), -46%) rotateY(180deg);
  transition: transform 0.3s cubic-bezier(0.33, 1.65, 0.66, 1);
  display: none;
}

.wp-content a {
  font-size: inherit;
  text-decoration: underline;
  color: var(--link);
}

.wp-content a:hover {
  color: var(--link-hover);
}
.point {
  --text-length: 0;
  font-size: 2.25rem;
}

.buy {
  width: fit-content;
}

.buy a {
  font-family: Pinky;
  border: none;
  font-size: inherit;
  color: var(--white);
  background: unset;
  text-decoration: none;
  padding: 0.25rem 1.25rem;
  transition: transform 0.3s cubic-bezier(0.33, 1.65, 0.66, 1);
  will-change: scale;
}

.point .buy {
  font-size: inherit;
  text-align: center;
  background-color: var(--green-d);
  border-radius: 4rem;
}

.buy a:is(:hover, :focus-visible) {
  color: var(--white);
  transform: scale(0.9);
}

.buy a:active {
  transform: scale(1.05);
}

.point:has(.buy:is(:hover, :focus-visible, :active)) img {
  transform: translate(calc(10% + var(--text-length)), -46%) rotateY(180deg);
}

.section--content__block--hero {
  grid-column: 1 / -1;
}

.section--content__block--hero:not(:has(figure)) {
  padding-inline: 3rem;
  grid-column: 1 / -1;
  z-index: 1;
  text-align: center;
}

h2 {
  margin: 0;
}

header {
  z-index: 1;
}

p {
  margin: 0;
}

.section--content__block--intro {
  display: flex;
}

.section--content__block--intro img {
  /* flip the image */
  transform: rotateY(180deg);
  object-fit: contain;
}

.section--content__block--intro,
.section--content__block--intro p {
  font-size: clamp(1.5rem, 5vw, 1.875rem);
  line-height: 1.2;
  margin: 0;
  margin-top: 1rem;
  z-index: 1;
  position: relative;
}

.wp-content p {
  line-height: 1.8;
  font-size: clamp(1rem, 2vw, 1.25rem);
  font-weight: 500;
}

.description h2:first-of-type {
  font-size: clamp(1.5rem, 5vw, 1.875rem);
  font-weight: 600;
  margin: 0;
  margin-bottom: 0.875rem;
}

.main-content {
  display: inherit;
  grid-template-columns: inherit;
  gap: inherit;
}

.main-content > .section--content:first-child {
  display: grid;
  grid-template-columns: subgrid;
}

.main-content,
.section--content,
.section--content__block--intro,
.section--content:last-child > div.section--content__block,
footer {
  grid-column: 1 / -1;
}

.section--content__block--hero:has(img) {
  position: relative;
  z-index: 1;
  grid-column: 3 / 11;
}

@media (min-width: 900px) {
  .section--content__block--hero:has(img) {
    margin-top: -2rem;
  }
}

.section--content__block--hero img {
  height: 100%;
  width: 100%;
  max-height: 80vh;
  max-width: 102.5rem;
  margin-inline: auto;
  object-fit: contain;
}

.section--content__block--hero:has(img) h1 {
  /* just a test */

  padding-inline: 2rem;
  text-align: center;
}

.section--content:last-child {
  grid-template-columns: subgrid;
  gap: inherit;
  display: inherit;
}

.section--content:last-child figure img {
  object-fit: contain;
  height: 100%;
}

.section--content:last-child figure + h2 {
  margin-top: 3rem;
}

.wp-content {
  background: var(--white, #fff);
  padding: 3rem;
  height: fit-content;
  border-bottom: 0;
  position: relative;
}

.wp-content > * {
  z-index: 1;
  position: relative;
}

:root[data-color-scheme="dark"] .wp-content {
  background: var(--green, #134384);
  border-color: var(--green-l);
}

.wp-content p + p {
  margin-top: 1vw;
}

li::marker {
  font-size: calc(1em * 1.15);
  font-weight: 600;
}

:root[data-color-scheme="dark"] .wp-content {
  color: var(--bg);
}

.section--content + .section--content {
  margin-top: -1rem;
}

@media (prefers-color-scheme: dark) {
  .companies img:nth-child(1) {
    filter: invert(1);
  }
}

[data-color-scheme="light"] .companies img:nth-child(1) {
  filter: invert(0);
}
@media (min-width: 33.75rem) {
  div.point img {
    display: block;
  }

  .buy {
    width: fit-content;
  }
}

@media (min-width: 75rem) {
  .section--content:last-child > div.section--content__block {
    grid-column: 3 / 11;
  }

  .section--content__block--intro {
    grid-column: 3 / 11;
  }

  footer {
    grid-column: 3 / 11;
  }

  .wp-content {
    border-radius: 0;
  }

  .section--content__block--hero:not(:has(figure)) {
    grid-column: 3 / 11;
  }
}
