h1 {
  font-size: clamp(1.75rem, 4.125vw, 2.375rem);
  line-height: 100%;
  display: flex;
  justify-content: center;
  margin: 0 2rem;
  gap: clamp(0.25rem, 2vw, 1rem);
  padding-top: 3.25rem;
  font-family: Atkinson;
  color: var(--green-d);
  text-align: center;
}

:root[data-color-scheme="dark"] h1 {
  color: var(--green);
}

h1 + p {
  padding: 0 2.5rem;
  text-align: center;
  margin-inline: 5vw;
}

.main-hand {
  margin-left: 2vw;
  z-index: 2;
  margin-top: 4rem;
  width: calc(100% - 2vw);
  pointer-events: none;
}

.main-content > .section--content:first-child {
  margin: 0 -2rem;
  position: relative;
  z-index: 1;
  height: fit-content;
  padding: 10rem 0 3vw 0;

  @media (min-width: 32rem) {
    padding-top: 6rem;
  }
}

.section--content:first-child .section--content__block--hero {
  display: flex;
  margin-top: 10rem;
  align-items: center;
  justify-content: space-evenly;
  margin-inline: 2vw;
  gap: 1.5vw;
}

@media (min-width: 30rem) {
  .section--content:first-child .section--content__block--hero {
    margin-top: calc(4rem + 2vw);
  }

  .main-hand {
    margin-top: unset;
  }
}

.section--content__block--subhero {
  padding: 0 2rem;
}

.main-content > .section--content:last-child {
  margin-top: 2rem;
}

header.header--body {
  top: 0;
  position: absolute;
}

h2:first-of-type {
  margin: 0;
  text-align: center;
  font-size: clamp(3rem, 14vw, 200px);
  line-height: 1;
  text-transform: uppercase;
  font-family: Pinky;
  width: fit-content;
}

.main-content .section--content + .section--content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.pointer {
  display: flex;
  gap: 1rem;
  margin-bottom: calc(5vw + 1em);
  max-width: 90%;
}

.pointer img {
  margin-left: -10%;
  transform: translateX(-10%);
  transition: filter 0.2s cubic-bezier(0.33, 1.65, 0.66, 1),
    transform 0.5s cubic-bezier(0.33, 1.65, 0.66, 1);
}

.pointer:has(button:hover) img {
  display: flex;
  gap: 1rem;
  transform: translateX(0);
  filter: contrast(1.5);
}

.pointer img {
  width: calc(100% - 20vw);
  object-fit: contain;
}

.pointer button {
  max-width: 20vw;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.125rem 0.375rem;
  background: unset;
  border: unset;
  font-size: 2em;
  align-items: center;
  text-transform: inherit;
  border-radius: unset;
  font-family: Atkinson;
  color: var(--green-d);
  width: 8vw;
  min-width: 4rem;
  line-height: 1;
  transition: scale 0.2s cubic-bezier(0.33, 1.65, 0.66, 1),
    filter 0.2s cubic-bezier(0.33, 1.65, 0.66, 1);
  flex: 1;
  scale: 0.8;
  font-weight: 800;
}

.pointer button:hover {
  filter: contrast(1.5);
  scale: 1;
}

.pointer svg,
.pointer svg path {
  fill: currentColor;
}
