h1 {
  text-transform: lowercase;
  font-size: clamp(1.75rem, 4.125vw, 2.75rem);
  line-height: 100%;
  display: flex;
  font-weight: 800;
  justify-content: center;
  margin: 0 2rem;
  gap: clamp(0.25rem, 2vw, 1rem);
  margin-top: 2.25rem;
  font-family: Atkinson;
  text-transform: uppercase;
  color: var(--dark-green);
  text-align: center;
}

h1 + p {
  padding: 0 2.5rem;
  text-align: center;
  margin-inline: 5vw;
}

.main-hand {
  margin-left: 2rem;
  position: absolute;
  z-index: 2;
  bottom: 0;
  transform: translateY(20%);
  width: calc(100% - 2rem);
}

.main-content > .section--content:first-child {
  margin: 0 -2rem;
  position: relative;
  z-index: 1;
  background: var(--green);
  height: fit-content;
  padding: 10rem 0 3vw 0;

  @media (min-width: 32rem) {
    padding: 6rem 0 8vw 0;
  }
}

.section--content:first-child .section--content__block--hero {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section--content__block--subhero {
  padding: 0 2rem;
}

.main-content > .section--content:last-child {
  margin-top: 6.5rem;
}

header.header--body {
  top: 0;
  position: absolute;
}

h2:first-of-type {
  margin: 0;
  text-align: center;
  font-size: clamp(3rem, 14vw, 200px);
  line-height: 1;
  text-transform: uppercase;
  font-family: Pinky;
  width: fit-content;
}

.main-content .section--content + .section--content {
  display: flex;
  align-items: center;
  flex-direction: column;
}
