/**********/
/* HEADER */
/**********/

.header--body {
  padding: 2em;
  view-transition-name: header;
  position: relative;
  z-index: 2;
  right: 0;
}

.header--body.is-open {
  border-bottom: var(--border-thin--t);
  box-shadow: var(--shadow);
}

.header--body__block ul{
  margin: 0 auto;
  max-width: var(--max-width);

  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  align-items: top;
  gap: var(--grid-gap) 1em;
}

.header--body__block ul{
  display: flex;
}

.header--body__block li{
  display: inline;
}

/*************/
/* SKIP LINK */
/*************/

a.link--skip {
  position: absolute;
  top: 3em;
  left: var(--gap);
}

/*****************/
/* BUTTON - MENU */
/*****************/

.js .button--menu {
  --js: flex;
}

.button--menu {
  display: var(--js, none);
  /* min-width:6em; */
  flex-grow: 1;
  max-width: 8em;
}

[data-type="printAll"] {
  display: flex;
  align-items: center;
  gap: 0.33em;
  height: fit-content;
}

/**************/
/* NAV - MAIN */
/**************/

.js .nav--main {
  --js: none;
}

.nav--main {
  display: var(--js, grid);
  flex-basis: 100%;
}

.is-open .nav--main {
  display: grid;
}

.nav--main ul {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-direction: column;
  align-items: start;
}

@supports (list-style-type: "") {
  .nav--main ul {
    list-style: initial;
    list-style-type: "";
  }
}

/* LINK */
header a {
  font-family: Pinky, Arial, sans-serif;
  text-decoration: none;
  padding: 0.25rem 0.75rem;
  border: var(--border-thin);
  border-radius: 4rem;
  border-color: inherit;
  background-color: var(--bg);
}

.nav--main a {
  position: relative;
  padding: 0.5em 0;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1rem;
  text-decoration: none;
  color: var(--clr-nav--main);
  background-color: var(--bg-nav--main);
  border-color: transparent;
}

.nav--main a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0.3rem;
  background-color: currentColor;
  opacity: 0;
  pointer-events: none;
}

.nav--main a[aria-current="page"]::after {
  opacity: 1;
  view-transition-name: line;
}

/* interaction */
.nav--main a:hover::after {
  opacity: 1;
}

header details summary {
  font-size: 1.625rem;
}

/******************/
/* RESPONSIVENESS */
/******************/

@container --container--body (width > 45em) {
  .header--body,
  .header--body.is-open {
    /* position:sticky;
    top:0;
    z-index:10; */

    box-shadow: none;
    border: none;
  }

  .header--body__block {
    gap: 1em;
  }

  /* NAV - MAIN */
  .nav--main {
    display: block; /* always visible */
    order: 1; /* after accessibility block */
  }

  .nav--main ul {
    flex-direction: row;
    gap: clamp(1em, 4vw - 1em, 2em);
  }
}
