.section--content__block--hero.main img {
  width: calc(20vw + 3rem);
}

.section--content__block--hero.main img:last-child{
  width: calc(14vw + 3rem);
}

p:first-of-type {
  font-weight: 500;
  line-height: 1.33;
}

main.grid-container {
  display: grid;
  grid-template-columns: repeat(var(--grid-columns), minmax(0, 1fr));
  gap: var(--grid-gap);
  margin-bottom: 5vw;
}

.main-content,
.section--content__block {
  grid-column: 1 / -1;
}

.section--content + .section--content {
  margin-top: 3.125rem;
}

a {
  text-decoration: none;
  color: var(--clr);
  transition: color 0.25s ease-out;
}

a p {
  opacity: 0;
  transition: opacity 0.2s ease-out;
}

a:hover p {
  color: black;
  opacity: 1;
}
