.section--content__block--hero.main img {
  width: 24%;
}

.section--content__block--hero.main img:last-child{
  width: 19%;
}

p:first-of-type {
  font-weight: 500;
  line-height: 1.33;
}

main.grid-container {
  display: grid;
  grid-template-columns: repeat(var(--grid-columns), minmax(0, 1fr));
  gap: var(--grid-gap);
}

.main-content,
.section--content__block {
  grid-column: 1 / -1;
}

.section--content + .section--content {

}

a {
  text-decoration: none;
  color: var(--clr);
  transition: color 0.25s ease-out;
}

a p {
  opacity: 0;
  transition: opacity 0.2s ease-out;
}

a:hover p {
  color: black;
  opacity: 1;
}
